.garndParent {
    width: 400px;
    height: 400px;
    background: red;
    display: flex;
        justify-content: center;
        align-items: center;
}

.parent {
    width: 200px;
    height: 200px;
    background: rgb(255, 251, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    width: 100px;
    height: 100px;
    background: rgb(60, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}